* {
  box-sizing: border-box;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  font-family: $main-font;
}

main {
  flex-grow: 1;
  padding: 2em 0;
  @extend %flex-center;
}

.spinner {
  img {
    width: 30px;
  }
}
