.nav-bar {
  background: linear-gradient(to bottom right, $blue, $red);
  position: relative;
  background-size: cover;
  z-index: 1;
  min-height: 100px;
  color: white;
}

.container {
  max-width: 90vw;
}

.navbar {
  --bs-navbar-brand-hover-color: rgba(255, 255, 255, 0.8);
  --bs-navbar-color: rgba(255, 255, 255, 0.8);
  --bs-navbar-active-color: rgba(255, 255, 255, 0.8);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.8);
  --bs-navbar-toggler-icon-bg: url('../../images/toggle.webp');
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.8);
  --bs-navbar-toggler-border-radius: 0.800rem;
}

.navbar-home {
  color: white;
  font-weight: bold;
  font-size: 30px;
  .navbar-logo {
    height: 50px;
    margin-right: 20px;
  }
}

.navbar-nav {
  display: flex;
}

.navbar-text a {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.navbar-link, .nav-item {
  margin: 0 20px 0 0;
}