.nav-bar {
  position: relative;
  background-size: cover;
  z-index: 1;
  min-height: 100px;
}

.container {
  max-width: 90vw;
}

.navbar-home {
  color: $blue;
  font-weight: bold;
  font-size: 36px;
  .navbar-logo {
    height: 80px;
    margin-bottom: 3px;
  }
}

.navbar-nav {
  display: flex;
}

.navbar-text a {
  color: $blue;
  font-size: 25px;
  font-weight: bold;
}

.navbar-link, .nav-item {
  margin: 0 20px 0 0;
}

@media (max-width: 576px) {
  .navbar-home {
    color: $blue;
    font-weight: bold;
    font-size: 20px;
    .navbar-logo {
      height: 40px;
      margin-bottom: 3px;
    }
  }

  .navbar-text a {
    color: $blue;
    font-size: 18px;
    font-weight: bold;
  }

  .navbar-toggler {
    .navbar-toggler-icon {
      width: 20px;
    }
  }
}