.nav-bar {
  position: relative;
  background-size: cover;
  z-index: 1;
  min-height: 100px;
}

.container {
  max-width: 90vw;
}

.navbar-home {
  color: $blue;
  font-weight: bold;
  font-size: 36px;
  .navbar-logo {
    height: 80px;
    margin-bottom: 3px;
  }
}

.navbar-nav {
  display: flex;
}

.navbar-text a {
  color: $blue;
  font-size: 25px;
  font-weight: bold;
}

.navbar-link, .nav-item {
  margin: 0 20px 0 0;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: $red;
}

@media (max-width: 1200px) {
  .navbar-home {
    font-size: 30px;
    .navbar-logo {
      height: 60px;
    }
  }
  .navbar-text a {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .navbar-home {
    font-size: 26px;
  }
}

@media (max-width: 880px) {
  .navbar-home {
    font-size: 24px;
    .navbar-logo {
      height: 50px;
    }
  }
  .navbar-text a {
    font-size: 16px;
  }
  .navbar-link, .nav-item {
    margin: 0 8px 0 0;
  }
}

@media (max-width: 576px) {
  .navbar-home {
    font-size: 22px;
    .navbar-logo {
      height: 40px;
    }
  }

  .navbar-text a {
    font-size: 18px;
  }

  .navbar-toggler {
    .navbar-toggler-icon {
      width: 20px;
    }
  }
}