.rankings-container {
  @extend %flex-center;
  flex-direction: column;

  .header {
    background: linear-gradient(to bottom right, $blue, $red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 15% 2% 10%;
    width: 100vw;

    h1 {
      font-size: 70px;
      color: white;
      text-shadow: 0 0 5px $light-blue, 0 0 7px $light-blue, 0 0 9px $light-blue, 0 0 11px $light-blue;
      font-family: $sub-font;
      text-align: left;
    }

    .trophy {
      width: 15vw;
      height: 15.3vw;
    }
  }

  .rankings-table {
    margin-top: 30px;

    .user {
      background: linear-gradient(to right, $light-blue, $light-red);
      background-size: cover;
      color: white;
      --bs-table-hover-color: white;
    }
    
    td {
      cursor: pointer;
    }
  }

}

.modal-body {
  .points {
    @extend %flex-center;
    background-color: white;
  
    .points-section {
      @extend %flex-center;
      flex-direction: column;
      margin: 0 10px 0 10px;
  
      .point {
        background-color: rgb(100, 237, 100);
        color: black;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        border: 3px solid white;
      }
  
      p {
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}

.team {
  background-image: url('../../images/field_mobile.png');
  @extend %background-center;

  .ranking-players {
    @extend %flex-center;
    justify-content: space-around;
    flex-wrap: wrap;
  
    .player-single {
      @extend %flex-center;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
      text-align: center;
      font-size: 11px;
  
      .logo {
        width: 30px;
      }
  
      .name {
        background-color: $blue;
        color: white;
        width: 100px;
        margin-bottom: 0;
        font-weight: bold;
      }
  
      .gw-points {
        background-color: $light-blue;
        color: white;
        width: 100px;
        margin-bottom: 0;
        font-weight: bold;
      }
  
      .next-match {
        background-color: $grey;
        opacity: 0.9;
        font-weight: bold;
        width: 100px;
        color: black;
      }
    }
  }
}

@media (max-width: 1200px) {
  .rankings-container {
    .header {
      h1 {
        font-size: 60px;
      }
    }
  }
}

@media (max-width: 992px) {
  .rankings-container {
    .header {
      h1 {
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 768px) {
  .rankings-container {
    .header {
      h1 {
        font-size: 45px;
      }
    }
  }
}

@media (max-width: 576px) {
  .rankings-container {
    .header {
      h1 {
        font-size: 36px;
      }
    }

    .rankings-table {
      font-size: 15px;
    }
  }
}

@media (max-width: 450px) {
  .rankings-container {
    .header {
      h1 {
        font-size: 32px;
      }
    }

    .rankings-table {
      font-size: 12px;
    }
  }

  .team {
    .ranking-players {
      .player-single {
        font-size: 10px;
        .logo {
          width: 30px;
        }
    
        .name {
          width: 80px;
        }
    
        .gw-points {
          width: 80px;
        }
    
        .next-match {
          width: 80px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .rankings-container {
    .header {
      h1 {
        font-size: 28px;
      }
    }

    .rankings-table {
      font-size: 11px;
    }
  }
}