.team-selection {
  @extend %flex-center;
  flex-direction: column;

  .team-selection-container {
    @extend %flex-center;
    align-items: flex-start;

    .selection-container {
      @extend %flex-center;
      flex-direction: column;
      width: 70vw;
      .formation {
        .formation-row {
          @extend %flex-center;
          flex-direction: row;
        }
        .position-button {
          cursor: pointer;
          .logo {
            width: 30px;
            margin-right: 15px;
          }
        }
      }
    }
  }
}

.players-container {
  .player-table {

    td {
      cursor: pointer;
    }

    .logo {
      width: 30px;
      margin-right: 15px;
    }
  }
}
